// Place all the styles related to the reminds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.TextItem-LineThrough{
    text-decoration: line-through;
}


body{
    background-color: #0a2356;
}

.form-list{
    background-color:#344fa1;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 44.3%;
    position: relative;
    left: 420px;
    top: 90px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 3px ;


}

.form-list div{
    display:inline;
    position: relative;
    left: 50px;
    padding-right: 10px;
}

.task-field input{
    padding-left: 10px;
    font-family: sans-serif;
    font-size: larger;
    height: 50px;
    width: 40%;
    border-radius: 5px;
    outline: none;
    background-color:rgb(237, 225, 225);

}

.date-field input{
    padding-left: 10px;
    font-family: sans-serif;
    font-size: 20px;
    height: 50px;
    width: 22%;
    border-radius: 5px;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    background-color:rgb(237, 225, 225);
    font-weight: 600;
    color: black;
}

.submit-field input{
    height: 50px;
    width: 10%;
    border-radius: 13px;
    padding: 10px 7px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
    outline: none;
    color: white;
    background-color: darkgreen;
    position: relative;
    bottom: 3px;
    cursor: pointer;
}


.list-head{
    width: 40%;
    position: relative;
    top: 50px;
    left: 680px;
    font-family: sans-serif;
    font-size: 35px;
    font-family:"system-uiI";
    color: gray;
}

.todo-container{
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 480px;
    height: 600px;
    width: 40%;
    background-color: #344fa1;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px;
    margin-left: 100px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 40px;
    position: relative;
    top: 100px;
    left: 320px;
}

.each-task {
    margin-bottom: 20px;
    background-color: #0a2356;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px;
    height:140px;
    width: 101%;
}

.each-task p{
    position: relative;
    left: 200px;
    bottom: 75px;
    font-family:sans-serif;
    font-weight: 500;
    font-size: 20px;
    width: 550px;
    color: white;

}

.msg{
    color: white;
    position: relative;
    left: 120px;
    bottom: 128px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 22px;

}



.checkbox{
    position: relative;
    bottom: 30px;
    left: 80px;
    width: 6%;
    height: 20px;
}

.view-task{
    text-decoration: none;
    font-family: sans-serif;
    border-radius: 7px;
    color: white;
    padding: 10px 10px;
    background-color: #e888fe;
    position: relative;
    bottom: 120px;
    left: 95px;
    font-weight: 600;
    box-shadow: 2px 2px 2px 2px black;

}

// button hover

.view-task:hover{
    background-color: white;
    border: 1px solid #e888fe;
    color: #e888fe;
}

.delete-task:hover{
    background-color: white;
    border: 1px solid rgb(233, 81, 75);
    color: rgb(233, 81, 75);
}

.submit-field input:hover{
    background-color: white;
    border: 1px solid darkgreen;
    color: darkgreen;
  
}


.delete-task{
    text-decoration: none;
    font-family: sans-serif;
    border-radius: 7px;
    color: white;
    padding: 10px 10px;
    background-color: rgb(233, 81, 75);
    position: relative;
    bottom: 120px;
    left: 140px;
    font-weight: 600;
    box-shadow: 2px 2px 2px 2px black;

}



.dq{
    position: relative;
    top:18px;
    left: 20px;
    width: 60px;
    border-radius: 50px;
    box-shadow: 2px 2px 2px 2px darkblue;
}


// show-task page

.show-task{
    color: white;

}

// back button

.back{
    text-decoration: none;
    font-family: sans-serif;
    border-radius: 7px;
    color: white;
    padding: 10px 10px;
    background-color:mediumvioletred;
    font-weight: 600;
    box-shadow: 2px 2px 2px 2px black;
    position: relative;
    bottom: 51.5px;
    left:100px ;
    font-size: 17px;
}

// edit button 


.edit-form{
    text-decoration: none;
    font-family: sans-serif;
    border-radius: 7px;
    color: white;
    padding: 10px 10px;
    background-color: #88cbfe;
    font-weight: 600;
    box-shadow: 2px 2px 2px 2px black;
    font-size: 17px;
    margin-bottom: 20px;

}

.edit-container{
    position: relative;
    left: 650px;
    top: 280px;
    background-color: gray;
    padding-left: 30px;
    padding-top: 10px;
    width: 30%;
    box-shadow: 2px 2px 2px 2px black;

}

.edit-text{
    padding-left: 10px;
    font-family: sans-serif;
    font-size: larger;
    height: 45px;
    width: 80%;
    border-radius: 5px;
    outline: none;
    background-color:silver;
    margin-bottom: 20px;
}

.edit-date{
    padding-left: 10px;
    font-family: sans-serif;
    font-size: 20px;
    height: 43px;
    width: 30%;
    border-radius: 5px;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    background-color:#344fa1;
    font-weight: 600;
    color: silver;
    margin-bottom: 20px;

}


.todo-container::-webkit-scrollbar {
    width: 1em;
}

.todo-container::-webkit-scrollbar-track {
    display: none;
}
 
.todo-container::-webkit-scrollbar-thumb {
    display: none;
}